@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gelion_Reg;
    src: url("../public/Gelion Regular.ttf");
  }

  @font-face {
    font-family: Gelion_Bold;
    src: url("../public/Gelion Bold.ttf");
  }
}

* {
  @apply transition-colors duration-300;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p,
span,
li,
input,
button,
label,
textarea a {
  @apply font-gelionReg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-gelionBold;
}

@layer base {
  :root {
    --bgColor: 255, 255, 255;
    --mainColor: 255, 152, 56;
    --mainColorDark: 247, 128, 20;

    --error: 255, 64, 64;
    --errorDark: 209, 18, 18;
    --success: 17, 216, 216;
    --successDark: 15, 194, 105;
    --textColor: 35, 55, 72;
    --textColorDark: 29, 45, 58;
    --inputPlaceholderColor: 207, 207, 207;
    --black: 2, 2, 2;
  }
}
